blinker
certifi
charset-normalizer
click
dacite
Flask
Flask-SQLAlchemy
flask-migrate
greenlet
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mypy
mypy-extensions
numpy
packaging
PyYAML
requests
responses
scikit-learn
scipy
SQLAlchemy
threadpoolctl
types-PyYAML
types-requests
types-urllib3
typing_extensions
urllib3
Werkzeug
