{%  extends "base.html" %}
{% block title %}Index{% endblock %}


{% block content %}
<h1>Index Page</h1>
    <ul>
    {% for ticker in tickers %}
        <li>{{ ticker }}</li>
    {% endfor %}
    </ul>

    <h3>New Ticker</h3>
    <form action="{{ url_for("index")}}" method="POST">
        <input type="text" name="symbol_date_id" placeholder="ID"><br>
        <input type="text" name="symbol" placeholder="Symbol"><br>
        <input type="date" name="date" placeholder="Date"><br>
        <input type="number" name="open" placeholder="Open"><br>
        <input type="number" name="high" placeholder="High"><br>
        <input type="number" name="low" placeholder="Low"><br>
        <input type="number" name="close" placeholder="Close"><br>
        <input type="number" name="volume" placeholder="Volume"><br>
        <input type="submit" value="Create">
    </form>
    <body>
        <h1>Real-Time Price Update</h1>
        <div id="result">Waiting for price updates...</div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('connected', {data: 'success'});
    });
</script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);

            // Listen for events from the backend
            socket.on('price_event', function(msg) {
                 console.log('Received price event:', msg);  // Log the entire message object
                if (msg && msg.data !== undefined) {
                    document.getElementById('result').innerText = msg.data;
                    socket.emit('special', msg);
                } else {
                    console.error('Received message is undefined or missing data property');
                }
            });
        });
    </script>
{% endblock %}