{%  extends "base.html" %}
{% block title %}Index{% endblock %}


{% block content %}
<h1>Current Bitcoin Prices</h1>
    <ul>
    {% for ticker in tickers %}
        <li>{{ ticker }}</li>
    {% endfor %}
    </ul>
    <h1>Order Book</h1>
     <ul>
    {% for order in orders %}
        <li>{{ order }}</li>
    {% endfor %}
    </ul>
    <h1>Current Cash</h1>
    <div id="result">Waiting for cash updates...</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('connect', function() {
                socket.emit('connected', {data: 'success'});
            });

            // Listen for price_event from the backend
            socket.on('price_event', function(msg) {
                console.log('Received price event:', msg);  // Log the entire message object
                if (msg && msg.data !== undefined) {
                    location.replace(location.href);
                    document.getElementById('result').innerText = msg.cash;
                    socket.emit('special_price_event', msg);
                } else {
                    console.error('Received message is undefined or missing data property');
                }
            });
        });
    </script>
{% endblock %}