{%  extends "base.html" %}
{% block title %}Index{% endblock %}


{% block content %}
<h1>Index Page</h1>
    <ul>
    {% for ticker in tickers %}
        <li>{{ ticker }}</li>
    {% endfor %}
    </ul>

    <h3>New Ticker</h3>
    <form action="{{ url_for("index")}}" method="POST">
        <input type="text" name="symbol_date_id" placeholder="ID"><br>
        <input type="text" name="symbol" placeholder="Symbol"><br>
        <input type="date" name="date" placeholder="Date"><br>
        <input type="number" name="open" placeholder="Open"><br>
        <input type="number" name="high" placeholder="High"><br>
        <input type="number" name="low" placeholder="Low"><br>
        <input type="number" name="close" placeholder="Close"><br>
        <input type="number" name="volume" placeholder="Volume"><br>
        <input type="submit" value="Create">
    </form>

{# <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>#}
{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', (event) => {#}
{#            var socket = io.connect('http://' + document.domain + ':' + location.port);#}
{##}
{#            // Listen for events from the backend#}
{#            socket.on('price_event', function(msg) {#}
{#                console.log('Received price event:', msg.data);#}
{#                // Update your frontend here with the received data#}
                {#tickers.query().all()#}
{#            });#}
{#        });#}
{#    </script>#}
{% endblock %}